<html>
    <head>
        <title>Doa Buka Puasa dan Sahur</title>
        <link href="styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <main class="container">
            <section>
                <h1>Doa Buka Puasa</h1>
                <article>
                    <p class="arabic">
                        &#x627;&#x644;&#x644;&#x64E;&#x651;&#x647;&#x64F;&#x645;&#x64E;&#x651; &#x644;&#x64E;&#x643;&#x64E; &#x635;&#x64F;&#x645;&#x652;&#x62A;&#x64F; &#x648;&#x64E;&#x628;&#x650;&#x643;&#x64E; &#x622;&#x645;&#x64E;&#x646;&#x652;&#x62A;&#x64F; &#x648;&#x64E;&#x639;&#x64E;&#x644;&#x64E;&#x64A;&#x652;&#x643;&#x64E; &#x62A;&#x64E;&#x648;&#x64E;&#x643;&#x64E;&#x651;&#x644;&#x652;&#x62A;&#x64F; &#x648;&#x64E;&#x639;&#x64E;&#x644;&#x64E;&#x670; &#x631;&#x650;&#x632;&#x652;&#x642;&#x650;&#x643;&#x64E; &#x623;&#x64E;&#x641;&#x652;&#x637;&#x64E;&#x631;&#x652;&#x62A;&#x64F;
                    </p>
                    <p class="transliteration">
                        Allahumma laka shumtu wa bika aamantu wa 'alayka tawakkaltu wa 'ala rizqika aftartu
                    </p>
                    <p class="translate">
                        (Ya Allah, karena-Mu aku berpuasa, kepada-Mu aku beriman, kepada-Mu aku bertawakal, dan dengan rezeki-Mu aku berbuka.)
                    </p>
                    <p class="arabic">
                        &#x630;&#x64E;&#x647;&#x64E;&#x628;&#x64E; &#x627;&#x644;&#x638;&#x64E;&#x651;&#x645;&#x64E;&#x623;&#x64F; &#x648;&#x64E;&#x627;&#x628;&#x652;&#x62A;&#x64E;&#x644;&#x64E;&#x651;&#x62A;&#x650; &#x627;&#x644;&#x639;&#x64F;&#x631;&#x64F;&#x648;&#x642;&#x64F; &#x648;&#x64E;&#x62B;&#x64E;&#x628;&#x64E;&#x62A;&#x64E; &#x627;&#x644;&#x623;&#x64E;&#x62C;&#x652;&#x631;&#x64F; &#x625;&#x650;&#x646;&#x652; &#x634;&#x64E;&#x627;&#x621;&#x64E; &#x627;&#x644;&#x644;&#x64E;&#x651;&#x647;&#x64F;
                    </p>
                    <p class="transliteration">
                        Dzahabazh zhama'u wabtallatil 'uruqu wa tsabatal ajru in syaa Allah
                    </p>
                    <p class="translate">
                        (Telah hilang rasa haus, urat-urat telah basah, dan pahala telah tetap, insya Allah.)
                    </p>
                </article>
            </section>

            <section>
                <h1>Doa Sahur</h1>
                <article>
                    <p class="arabic">
                        &#x646;&#x64E;&#x648;&#x64E;&#x64A;&#x652;&#x62A;&#x64F; &#x635;&#x64E;&#x648;&#x652;&#x645;&#x64E; &#x63A;&#x64E;&#x62F;&#x64D; &#x639;&#x64E;&#x646;&#x652; &#x623;&#x64E;&#x62F;&#x64E;&#x627;&#x621;&#x650; &#x641;&#x64E;&#x631;&#x652;&#x636;&#x650; &#x634;&#x64E;&#x647;&#x652;&#x631;&#x650; &#x631;&#x64E;&#x645;&#x64E;&#x636;&#x64E;&#x627;&#x646;&#x64E; &#x644;&#x650;&#x644;&#x64E;&#x651;&#x647;&#x650; &#x62A;&#x64E;&#x639;&#x64E;&#x627;&#x644;&#x64E;&#x649;
                    </p>
                    <p class="transliteration">
                        Nawaitu shauma ghadin 'an ada'i fardhi syahri Ramadhana lillahi ta'ala
                    </p>
                    <p class="translate">
                        (Aku berniat puasa esok hari untuk menunaikan kewajiban bulan Ramadan karena Allah Ta'ala.)
                    </p>
                    <p class="arabic">
                        &#x627;&#x644;&#x644;&#x64E;&#x651;&#x647;&#x64F;&#x645;&#x64E;&#x651; &#x628;&#x64E;&#x627;&#x631;&#x650;&#x643;&#x652; &#x644;&#x64E;&#x646;&#x64E;&#x627; &#x641;&#x650;&#x64A;&#x645;&#x64E;&#x627; &#x631;&#x64E;&#x632;&#x64E;&#x642;&#x652;&#x62A;&#x64E;&#x646;&#x64E;&#x627; &#x648;&#x64E;&#x642;&#x650;&#x646;&#x64E;&#x627; &#x639;&#x64E;&#x630;&#x64E;&#x627;&#x628;&#x64E; &#x627;&#x644;&#x646;&#x64E;&#x651;&#x627;&#x631;&#x650;
                    </p>
                    <p class="transliteration">
                        Allahumma barik lana fi ma razaqtana wa qina 'adzaban nar
                    </p>
                    <p class="translate">
                        (Ya Allah, berkahilah kami pada rezeki yang Engkau berikan dan lindungi kami dari azab neraka.)
                    </p>
                </article>
            </section>
        </main>

        <footer>
            <p>Dalam rangka memperingati bulan Ramadan 1447 H</p>
        </footer>
    </body>
</html>